<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Hello!</h1>
    <p>Welcome to the EJS tutorial.</p>
    <a href="/about">Learn more about us</a>
    <p>age = <%= age %>!</p>
    <p><%= termilog %></p>

    <h1>Common Items List</h1>
    <ul>
      <% items.forEach(item => { %>
          <li><%= item %></li>
      <% }) %>
    </ul>

    <h1>Database Items List</h1>
    <ul>
        <% items2.forEach(item2 => { %>
            <li>
                <strong><%= item2.title %></strong>: <%= item2.createdAt %>
            </li>
        <% }) %>
    </ul>

</body>
</html>
